# Map short name to import path (needed when setuptools entry points are not visible to Babel).
[extractors]
jinja2 = jinja2.ext:babel_extract

[python: app/**.py]
[python: *.py]
[jinja2: app/templates/**.html]
encoding = utf-8

